.keyboard {
  position: fixed;
  left: 0; bottom: 0;
  width: 100%;
  padding: 5px 0;
  background-color: #004134;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  user-select: none; 
  /* user cannot select the keyboard */
  transition: bottom .4;
}

.keyboard--hidden {
  bottom: -100%;
}

.keyboard__keys {
  text-align: center;
}

.keyboard__key {
  height: 45px; width: 6%;
  max-width: 90px;
  margin: 3px;
  border-radius: 4px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 1.05rem;
  outline: none;
  cursor: pointer;
  display: inline-flex; /*centering icon purpose*/
  justify-content: center;
  align-items: center;
  vertical-align: top; /*I still don't understand this*/
  padding: 0;
  -webkit-tap-highlight-color: transaprent; /*mobile touching button style color blue to transparent*/
  position: relative;
}

.keyboard__key:active {
  background: rgba(255, 255, 255, 0.12);
}

.keyboard__key--wide {
  width: 12%;
}

.keyboard__key--extra-wide {
  width: 20%;
  max-width: 500px;
}

.keyboard__key--activatable::after {
  content: '';
  top: 10px;
  right: 10px;
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.keyboard__key--active::after {
  background: #08ff00;
}
.keyboard__key--dark {
  background: rgb(0, 0, 0, 0.25)
}
